body{
/* background-color: rgb(10, 233, 110); */
padding: 0 20px;
background-color: #222;
color: white;
}

.card_ponto_turistico{
    background-color: cornsilk(240, 100%, 99%);
    margin-bottom: 24px;
    display: flex;
    gap: 24px;
    align-items: flex-start;
}

.card_imagem {
    font-size: 0;
    flex: 1;/*minimo largura do elemento */
    max-width: 400px; /* garantir que a imagem não ultrapasse 300px  */
}

.card_detalhes  {
    flex: 1;
}

.card_imagem img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.categorias{
    display: flex;
    gap: 8px;
}

.categorias span {
    background-color: rgb(214, 104, 166);
    color: rgb(255, 255, 255);
    padding: 4px;
    border-radius: 6px;
}
#elemento-pai {
 
    padding: 12px;
}

/* HEADER */
.categorias-btn {
  padding: 12px 20px;
  border-radius: 8px;
border: none;
}
#header {
    display: flex;
    gap: 8px;
    padding: 12px;
}

.active {
    background-color: rgb(214, 104, 166);
    font-weight: bold;
    color: aliceblue;
}
.card_detalhes p{
    font-family: tahoma;
    font-size: 16px;
}
@media (max-width:768px){
    .card_ponto_turistico {
        flex-direction: column ;
    }
  .card_imagem {
    width:100%;
    max-width:100%
  }
  #header {
    flex-wrap: wrap;
  }  
}
.titulo {font-family: tahoma;}
